<h2>Watch List</h2>
<ul ng-repeat="result in $ctrl.add"><img class="moviepic" ng-if="result.backdrop_path" src="https://image.tmdb.org/t/p/w500/{{result.backdrop_path}}">

    <li ng-if="result.name"> <label> Actor: </label>{{result.name}}</li>
    <li ng-if="result.title"> <label>Movie Name: </label> {{result.title}}</li>
    <li ng-if="result.overview">
        <button class="about" ng-click="$ctrl.showOverview(result)">More info</button>
        <button class="delete" ng-click="$ctrl.remove($index)">Remove</button>
        <p ng-if="!result.showOverview">
            <label> About: </label>{{result.overview}}
  
    </li>