<div class="search">
    <h3>What would you like to search by:</h3>
    <select id="category" name="category" ng-model="$ctrl.category">
        <option value="search/person">Actor</option>
        <option value="search/movie">Movie Title</option>
        <option value="movie/popular">Trending Movies</option>
    </select>
    <input type="text" placeholder="Search term (name, title, or leave blank" ng-model="$ctrl.search">
    <button id="submit" ng-click="$ctrl.newSearch($ctrl.search, $ctrl.category)">Submit</button>
</div>



<movie-list>

</movie-list>