    <ul ng-repeat="result in $ctrl.name"><img class = "moviepic" ng-if ="result.backdrop_path" src = "https://image.tmdb.org/t/p/w500/{{result.backdrop_path}}"> 
       
        <li ng-if = "result.name"> Actor: {{result.name}}</li>
        <li ng-if = "result.title"> Movie Name: {{result.title}}</li>
        <li ng-if="result.overview"><button class = "about" ng-click = "$ctrl.showOverview(result)" >More info</button>
            <p ng-if = "result.showOverview">
        About: {{result.overview}}
        <button ng-click = "$ctrl.watchList(result)">Add to Watch</button>
    </p></li>
        <ul ng-repeat="known in result.known_for">
        <li> {{known.title || known.original_name}}</li>
        <li ng-if="known.overview">
                <img class = "moviepic" ng-if ="known.backdrop_path" src = "https://image.tmdb.org/t/p/w500/{{known.backdrop_path}}">
            <button class = "about" ng-click = "$ctrl.showMore(known)" >More info</button>
            <p ng-if = "known.showOverview">
       About: {{known.overview}}
    <button ng-click = "$ctrl.watchList(known)">Add to Watch</button>
    </p></li>
    </ul>

</ul>


    