    <ul ng-repeat="result in $ctrl.name"><img class = "moviepic" ng-if ="result.backdrop_path" src = "https://image.tmdb.org/t/p/w500/{{result.backdrop_path}}"> 
        <li ng-if = "result.name"> Actor: {{result.name}}</li>
        <li ng-if = "result.title"> Movie Name: {{result.title}}</li>
        <li ng-if="result.overview"> <button class = "about"> More info </button> About: {{result.overview}}</li>
        <ul ng-repeat="known in result.known_for">
        <li> {{known.title || known.original_name}}</li>
    </ul>

</ul>
<!-- >>>>>>> 8582286f9c96baca2a1ed907b858eaaea5f64f16 -->
    